#1 {
    font-family: "Open Sans", sans-serif;
    text-align:center;
    }
    #2 {
    font-family: "Open Sans", sans-serif;
    text-align:center;
    }
    #B1 {
    color:azure;
    Background-color: aqua;
    }
    #B2 {
        color: black;
        background-color: aquamarine
    }
    #B3 {
        color: azure;
        background-color: rgb(160, 255, 35);
    }
    #B4 {
        color: black;
        background-color: rgb(182, 55, 255);
    }